In [1]:
x ='Shakespear gave the best theatrics to the world'
print(x)

Shakespear gave the best theatrics to the world

In [2]:
k=''' William Shakespeare was an English poet, playwright, and actor, widely regarded as the greatest writer in the English language and the world's greatest dramatist. He is often called England's national poet and the "Bard of Avon'''
print(k)

 William Shakespeare was an English poet, playwright, and actor, widely regarded as the greatest writer in the English language and the world's greatest dramatist. He is often called England's national poet and the "Bard of Avon

In [3]:
t='William Shakespeare was an English poet, playwright, and actor, widely regarded as the greatest writer in the English language and the world's greatest dramatist. He is often called England's national poet and the "Bard of Avon"'
print(t)

SyntaxError: invalid syntax (<ipython-input-3-4681977e996a>, line 1)

In [ ]:
e='''William Shakespeare was an English poet, playwright, and actor,
widely regarded as the greatest writer in the English language and the world's greatest dramatist. 
He is often called England's national poet and the "Bard of Avon"'''
print(e)

In [ ]:
o='Shakespear didn't gave the best theatrics to the world'
print(o)

In [ ]:
Y='''Shakespear didn't gave the best theatrics to the world'''
print(Y)

In [ ]:
z="Shakespear didn't gave the best theatrics to the world"
print(z)

In [ ]:
m=["'chennai','paris','newyork','hyderabad','kochi','swedan','sydney','malaysia','phyladelphia'"]
print(m)

In [4]:
n=['chennai','paris','newyork','hyderabad','kochi','swedan','sydney','malaysia','phyladelphia','mexico','maahishmathi']
print(n[10])
n.append('columbia')
print(n)

maahishmathi
['chennai', 'paris', 'newyork', 'hyderabad', 'kochi', 'swedan', 'sydney', 'malaysia', 'phyladelphia', 'mexico', 'maahishmathi', 'columbia']

In [5]:
x=[111,234,344,456,'ORANGE','APPLE']
print(x)

[111, 234, 344, 456, 'ORANGE', 'APPLE']

In [6]:
tlist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(tlist[2:5])

['cherry', 'orange', 'kiwi']

In [7]:
tlist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(tlist[2:])

['cherry', 'orange', 'kiwi', 'melon', 'mango']

In [8]:
x = ["london", "manchester", "bristol"]
x.remove("manchester")
print(thislist)

NameError: name 'thislist' is not defined

In [ ]:
x = ["london", "manchester", "bristol"]
del x[0]
print(x)

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.pop()
print(thislist)

thistuple = ("london", "manchester", "bristol","liverpool","newscastle")
print(thistuple)

In [9]:
thistuple = ("london", "manchester", "bristol","liverpool","newscastle")
print(thistuple)

('london', 'manchester', 'bristol', 'liverpool', 'newscastle')

In [10]:
thistuple = ("london", "manchester", "bristol","liverpool","newscastle")
print(thistuple[1])

manchester

In [11]:
thistuple = ("london", "manchester", "bristol","liverpool","newscastle")
print(thistuple[2:5])

('bristol', 'liverpool', 'newscastle')

In [12]:
thistuple = ("apple", "banana", "cherry")
if "apple" in thistuple:
  print("Yes, 'apple' is in the fruits tuple")

Yes, 'apple' is in the fruits tuple

In [13]:
thistuple = ("apple", "banana", "cherry")
print(len(thistuple))

3

In [14]:
thistuple = ("london", "manchester", "liverpool")
thistuple[3] = "city of london"
print(thistuple)

TypeError: 'tuple' object does not support item assignment

In [15]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'banana', 'apple', 'cherry'}

In [16]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

banana
apple
cherry

In [17]:
thisset = {"apple", "banana", "cherry"}

print("banana" in thisset)

True

In [18]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [19]:
#changing values

thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["year"] = 2018